@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-background: #000000;
  --light-background: #DEDEDE;
  --black-primary-button: #69B6D7;
  --black-secondary-button: #95B1BE;
  --light-primary-button: #232CBE;
  --light-secondary-button: #33365A;
}

.dark .bg-blackBackground {
  background-color: var(--black-background);
}

.bg-lightBackground {
  background-color: var(--light-background);
}

.dark .bg-blackBackground-primaryButton {
  background-color: var(--black-primary-button);
}

.dark .text-black {
  color: #000000;
}

.dark .bg-blackBackground-secondaryButton {
  background-color: var(--black-secondary-button);
}

.bg-lightBackground-primaryButton {
  background-color: var(--light-primary-button);
}

.text-white {
  color: #FFFFFF;
}

.bg-lightBackground-secondaryButton {
  background-color: var(--light-secondary-button);
}
